List

Lists are ordered,mutable collections of items.

mutable : all the items present in list we can change it.
they can contain items of different data types.

In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
names=["Alice", "Bob", "Charlie",1,2,3,4,5.5,6.6]
print(names)

['Alice', 'Bob', 'Charlie', 1, 2, 3, 4, 5.5, 6.6]

In [3]:
mixed_list=["Hello",42,3.14,True,None,[1,2,3],{"key":"value"}]
print(mixed_list)

['Hello', 42, 3.14, True, None, [1, 2, 3], {'key': 'value'}]

In [4]:
## Acessing list elements

fruits = ["apple", "banana", "cherry", "date", "elderberry"]    
print(fruits[0])        # First element
print(fruits[2])        # Third element

apple
cherry

In [5]:
print(fruits[-1])       # Last element
print(fruits[-3])       # Third from last element

elderberry
cherry

In [6]:
print(fruits[1:])
print(fruits[:3])
print(fruits[1:4])

['banana', 'cherry', 'date', 'elderberry']
['apple', 'banana', 'cherry']
['banana', 'cherry', 'date']

In [10]:
print(fruits[-1:]) 
print(fruits[-1:-3])       # Last element

['elderberry']
[]

In [11]:
## modifying list elements
fruits[1] = "blueberry"
print(fruits)

['apple', 'blueberry', 'cherry', 'date', 'elderberry']

In [15]:
fruits[1:]="watermelon"
## from one index everything is replaced by characters of watermelon
print(fruits)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [17]:
## List methods

fruits.append("orange") ## add an item to the end
print(fruits)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange']

In [20]:
fruits.insert(1,"kiwi") ## insert at a particular index
print(fruits)

['apple', 'kiwi', 'w', 'kiwi', 'kiwi', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange']

In [ ]:
print(fruits)
fruits.remove("apple") ## it remove the first occurance of item
print(fruits)

['apple', 'kiwi', 'w', 'kiwi', 'kiwi', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange']
['kiwi', 'w', 'kiwi', 'kiwi', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange']

In [25]:
## remove and return last item
frt=fruits.pop()
print(frt)
print(fruits)

n
['kiwi', 'w', 'kiwi', 'kiwi', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o']

In [26]:
#how to get index of an item
index_of_banana=fruits.index("kiwi")      
print(index_of_banana)

0

In [27]:
fruits.insert(2,"kiwi") ## insert at a particular index
print(fruits.count("kiwi"))  ## count occurances of an item

4

In [28]:
## sort entire list
fruits.sort() # sort list in ascending order
print(fruits)

['a', 'e', 'e', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'l', 'm', 'o', 'r', 't', 'w']

In [29]:
fruits.reverse() # reverse the list
print(fruits)

['w', 't', 'r', 'o', 'm', 'l', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'e', 'e', 'a']

In [30]:
## remove all item from list
fruits.clear()
print(fruits)

[]

Slicing List

In [ ]:
num = [5, 2, 9, 1, 5, 6]
print(num[2:5])
print(num[:5])
print(num[3:]) # 1 5 6
print(num[::2]) # step size 2
print(num[::-1]) # reverse the list

[9, 1, 5]
[5, 2, 9, 1, 5]
[1, 5, 6]
[5, 9, 5]
[6, 5, 1, 9, 2, 5]

In [33]:
num[::3] #step size 3

[5, 1]

In [35]:
print(num)
num[::-2] # step size -2

[5, 2, 9, 1, 5, 6]

[6, 1, 2]

iterate over list

In [36]:
for number in num:
    print(number)

5
2
9
1
5
6

In [42]:
## iterating with index ----> enumerate()

for index,number in enumerate(num):
    print(f"Index: {index}, Number: {number}")

Index: 0, Number: 5
Index: 1, Number: 2
Index: 2, Number: 9
Index: 3, Number: 1
Index: 4, Number: 5
Index: 5, Number: 6

In [56]:
## List comprehensions
lst=[]
for x in range(10):
    lst.append(x**2)

    #print(f"{lst}")
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

 List comprehensions

 Basic syntax  [expression for item in iterable]

 with conditional logic [expression for item in iterable if condition
 ]

 Nested List Comprehesion [expression for item1 in iterable for item2 in iterable2]

In [60]:
### Basic List Comprehension

square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [67]:
## List comprehison with condition
lst=[]
for i in range(10):
    if i%2==0:
       lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [69]:
even_num=[i for i in range(10) if i%2==0]
print(even_num)

[0, 2, 4, 6, 8]

In [70]:
## nested list comprehension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[(i,j) for i in lst1 for j in lst2]

print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [71]:
words = ["hello", "world", "python", "programming"]
lengths = [len(word) for word in words] 
print(lengths)

[5, 5, 6, 11]