Tuples


 tuples are orderd collections of items that are immutable. they are similar to list , but their immutability make them different.

In [1]:
## creating a tuple

empty_tuple = ()
print("Empty Tuple:", empty_tuple)
print("Type of empty_tuple:", type(empty_tuple))

Empty Tuple: ()
Type of empty_tuple: <class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [4]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [5]:
mixed_tuple = (1, "Hello", 3.14, True)
print("Mixed Tuple:", mixed_tuple)

Mixed Tuple: (1, 'Hello', 3.14, True)

In [7]:
## Accessing tuple elments

numbers

(1, 2, 3, 4, 5)

In [12]:
print(numbers[2])
print(numbers[-1])

3
5

In [13]:
numbers[0:3]

(1, 2, 3)

In [15]:
numbers[1:]

(2, 3, 4, 5)

In [17]:
## reverse of tuples
numbers[::-1]

(5, 4, 3, 2, 1)

In [20]:
## Tuple Operations

concatenation = numbers + mixed_tuple
print("Concatenated Tuple:", concatenation)

Concatenated Tuple: (1, 2, 3, 4, 5, 1, 'Hello', 3.14, True)

In [21]:
mixed_tuple * 3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)

In [22]:
numbers *3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [24]:
## immutable nature of tuples

lst=[1,2,3,4,5]
print(lst)

lst[1]="krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'krish', 3, 4, 5]

In [27]:
## tuple Methods 

print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## packing and unpacking tuples

#Packing
packed_tuple = 10, 20, 30
print("Packed Tuple:", packed_tuple)

Packed Tuple: (10, 20, 30)

In [31]:
#Unpacking

a, b, c = packed_tuple
print("Unpacked Values:", a, b, c)

Unpacked Values: 10 20 30

In [36]:
## Unpacking with asterisk (*)

numbers=(1,2,3,4,5,6)
first, *middle, last = numbers
print("First:", first)
print("Middle:", middle)
print("Last:", last)

First: 1
Middle: [2, 3, 4, 5]
Last: 6

In [47]:
## Nessted Tuples

#Nested list
lst=[[1,2,3],[4,5,6],[7,"hello",3.14]]
lst[0][0:2]

[1, 2]

In [48]:
#Nested Tuple
nested_tuple = ((1,2,3),(4,5,6),(7,"hello",3.14))
nested_tuple[0][0:3]

(1, 2, 3)

In [49]:
## iterate over nested tuple

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
4 5 6
7 hello 3.14