Sets

In [2]:
## How to create a Set

my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [11]:
# typecast to set

my_set=set([1,2,3,4])
print(my_set)

{1, 2, 3, 4}

In [9]:
my_empty_set=set([1,2,3,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [12]:
# Basics Sets Operation
# Adding and Removing Elements in a Set

my_set.add(6)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 6, 7}

In [14]:
# remove the element from the set
my_set.remove(3)
print(my_set)

{1, 2, 4, 6, 7}

In [15]:
my_set.remove(10)  # This will raise a KeyError because 10 is not in the set

KeyError: 10

In [16]:
my_set.discard(10)  # This will not raise an error

In [19]:
## pop method
popped_element=my_set.pop()
print(popped_element)
print(my_set)

4
{6, 7}

In [20]:
## clear all the elements

my_set.clear()
print(my_set)

set()

In [21]:
## Set Membership Test
my_set={1,2,3,4,5}
print(3 in my_set)  # True
print(10 in my_set) # False

True
False

In [ ]:
## Mathematical Set Operations
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

# Union
union_set=set1.union(set2)
print(union_set)

# Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2) # Updates set1 to the intersection
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [27]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

# Difference
difference_set=set1.difference(set2)
print(difference_set)

set1.difference_update(set2) # Updates set1 to the difference
print(set1)

{1, 2, 3}
{1, 2, 3}

In [28]:
set2.difference(set1)  # Returns elements in set2 not in set1

{4, 5, 6, 7, 8, 9}

In [ ]:
## Symetric differnece  ----give only unique elements from both sets
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

sym_diff_set=set1.symmetric_difference(set2)
print(sym_diff_set)

{1, 2, 3, 7, 8, 9}

In [ ]:
## Sets Methosds

set1={1,2,3,4,5}
set2={4,5,6,7,8}

#is subset
print(set1.issubset(set2)) 

#is superset ---> wheather set2 contains all elements of set1
print(set2.issuperset(set1))

False
False

In [32]:
# remove duplicates from a list using sets
lst=[1,2,2,3,4,4,5,5,5]

set(lst)

{1, 2, 3, 4, 5}

In [33]:
## counting unique word in a text
text="This is a sample text with several words. This text is for counting unique words."
words=text.split()

# convert list of words to set to get unique words
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'text', 'unique', 'is', 'words.', 'for', 'sample', 'several', 'counting', 'This', 'a', 'with'}
11