In [1]:
a=100

In [3]:
## Declaring assigning Varaibles

age=22
height=5.9
name="Sanskar"
is_student=True

print("age:",age)
print("height:",height)
print("name:",name)

age: 22
height: 5.9
name: Sanskar

In [4]:
## Naming Conventions
## Variable names should be dscriptive
## They must start with a letter or an underscore (_)
## They can contain letters, digits, and underscores
## They are case-sensitive

##valid variable names
student_name="John"
_studentAge=20
course1="Python"

In [5]:
##Invalid variable names
#1st_student="Alice"  # Starts with a digit
#student-name="Bob"   # Contains a hyphen
#student name="Eve"   # Contains a space

In [6]:
## Understanding Variable Types
## Python is dynamically typed , type of a variable is determined at runtime
age=25
height=6.1
name="Alice"
is_student=False

print(type(age))        # <class 'int'>
print(type(height))     # <class 'float'>

<class 'int'>
<class 'float'>

In [ ]:
#Type checking and conversion
print(type(name))       # <class 'str'>

In [7]:
age=25
print(type(age))       # <class 'int'>

#Type conversion
age_str=str(age)
print("Age as string:",age_str)
print(type(age_str))   # <class 'str'>

<class 'int'>
Age as string: 25
<class 'str'>

In [8]:
age='25'
print(type((int)(age)))       # <class 'str'>

<class 'int'>

In [ ]:
#name="sanskar"
#int(name)   cause error

In [10]:
height=5.9
type(height)

float

In [12]:
(float)((int)(height))

5.0

In [13]:
## Dynamic typing
## Python allows the type of a variable to change as the program executes
x=10
print(x,type(x))  # x is an integer
x="Hello"
print(x,type(x))  # x is now a string
x=3.14
print(x,type(x))  # x is now a float

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [16]:
## input

age=int(input("what is the age"))
print(age,type(age))

12 <class 'int'>